<div class="row">
    <div class="col-sm-6">
        <h1>ToDo No Completados</h1>
        
        <% @todos.each do |todo| %>

            <% if !todo.completed  %>

                <div class="card text-white bg-primary mb-3" style="max-width: 100%;">
                    <div class="card-header">
                        <%if todo.completed %>
                            <%= 'Tarea completa ✔' %>
                            <% else %>
                            <%='Tarea NO completa' %>
                        <% end %>
                    </div>
                <div class="card-body">
                    <p class="card-text"><%= todo.description %></p>
                </div>
                </div>
            <% end %>
        <% end %>
    </div>
        <div class="col-sm-6">
        <h1>ToDo Completados</h1>
        
        <% @todos.each do |todo| %>

            <% if todo.completed  %>

                <div class="card text-white bg-success mb-3" style="max-width: 100%;">
                    <div class="card-header">
                        <%if todo.completed %>
                            <%= 'Tarea completa ✔' %>
                            <% else %>
                            <%='Tarea NO completa' %>
                        <% end %>
                    </div>
                <div class="card-body">
                    <p class="card-text"><%= todo.description %></p>
                </div>
                </div>
            <% end %>
        <% end %>
    </div>
</div>
